<script src="assets/js/main.min.js"></script>

<!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8d7277546e154303b109ada17bbc7a73"}'></script><!-- End Cloudflare Web Analytics -->

{% include analytics.html %}
{% comment %}
Google Scholar citation fetch is disabled while no citation counters are shown
on the page. Re-enable this include if total_cit or show_paper_citations
elements are added back.
{% include fetch_google_scholar_stats.html %}
{% endcomment %}
